@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: rgb(59, 211, 127);
  background: linear-gradient(
    180deg,
    rgba(59, 211, 127, 1) 0%,
    rgba(39, 139, 84, 1) 73%
  );
  color: #fff;
  height: 130px;
}
section#title {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

nav {
  padding: 3px;
  margin-left: 10px;
}

nav > a {
  color: #fff;
  text-decoration: none;
}
nav > a:hover {
  text-decoration: underline;
}

main {
  background-color: #fff;
  width: 500px;
  height: 1500px;
  margin: auto;
}

body {
  background-color: #84e1ad;
}
